{% extends 'layout.html' %}

{% block content %}
    <div>
        <a href="/depart/add/">
            <button class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px">Add New Department</button>
        </a>
    </div>
    <div class="card">
        <div class="card-header">
            Department
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Department Name</th>
                    <th scope="col">Operation</th>
                </tr>
                </thead>
                <tbody>

                {% for obj in department %}
                    <tr>
                        <th scope="row">{{ obj.id }}</th>
                        <td>{{ obj.department_name }}</td>
                        <td>
                            <a href="/depart/{{ obj.id }}/edit" class="btn btn-primary btn-xs">EDIT</a>
                            <button type="button" class="btn btn-danger btn-delete" data-bs-toggle="modal"
                                    data-bs-target="#DeleteModal" uid={{ obj.id }}>
                                DELETE
                            </button>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>


    <!-- DeleteModal -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="alert alert-danger" role="alert" style="margin-bottom: 0">
                    <h4 class="alert-heading">Are you sure delete？</h4>
                    <p>All associated data disappears after deletion！</p>
                    <hr>
                    <div style="text-align: right">

                        <button id=DeleteConfirm type="button" class="btn btn-danger" id="DeleteConfirm">Delete</button>
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            btnDelete();
            btnDeleteConfirm();
        })

        function btnDelete() {
            $('.btn-delete').click(function () {
                Delete_ID = $(this).attr("uid");
            })
        }

        function btnDeleteConfirm() {
            $("#DeleteConfirm").click(function () {

                    $.ajax({
                        url: "/depart/" + Delete_ID + "/delete/",
                        type: 'GET',
                        dataType: 'JSON',
                        success: function (res) {
                            if (res.status) {
                                alert("Delete successfully");
                                location.reload();
                            } else {
                                alert(res.error)
                            }
                        }
                    })
                }
            )
        }

    </script>
{% endblock %}