{% extends 'layout.html' %}

{% block content %}
<div class="card" style="margin-top: 50px">
    <div class="card-header">
        Edit Department
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Department Name</label>

            <form method="post">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder={{ depart_object.department_name }} name="depart" required>
                <button type="submit" class="btn btn-success" style="margin-top: 10px">Submit</button>
                <a href="/depart/list/" class="btn btn-primary" style="margin-top: 10px">Back</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
