{% extends 'layout.html' %}


{% block content %}

    <div class="card" style="margin-top: 50px">
        <div class="card-header">
            Edit Number
        </div>
        <div class="card-body">
            <div class="mb-3">


                <form method="post" novalidate=True>
                    {% for filed in form %}
                        <label for="exampleFormControlInput1" class="form-label">{{ filed.label }}</label>
                        {{ filed }}
                        <span style="color: red; display: block">{{ filed.errors.0 }}</span>
                    {% endfor %}
                    <button type="submit" class="btn btn-success" style="margin-top: 10px">Submit</button>
                    <a href="/number/list/" class="btn btn-primary" style="margin-top: 10px">Back</a>

                </form>
            </div>
        </div>
    </div>



{% endblock %}





</body>
</html>