{% extends 'layout.html' %}

{% block content %}
    <div style="margin-top: 20px; margin-bottom: 10px; height: 50px">
        <a href="/number/add/">
            <button class="btn btn-primary">Add New Number</button>
        </a>

        <div style="float: right; width: 300px;">
            <form action="" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-describedby="basic-addon1" name="q">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>

                </div>
            </form>
        </div>

    </div>


    <div class="card" style="margin-top: 10px; margin-bottom: 10px">
        <div class="card-header">
            Number
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Price</th>
                    <th scope="col">Level</th>
                    <th scope="col">Status</th>
                    <th scope="col">Operation</th>

                </tr>
                </thead>
                <tbody>
                {% for obj in page_set %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.phone_number }}</td>
                        <td>{{ obj.price }}</td>
                        <td>{{ obj.get_level_display }}</td>
                        <td>{{ obj.get_status_display }}</td>
                        <td>
                            <a href="/number/{{ obj.id }}/edit/" class="btn btn-primary btn-xs">EDIT</a>
                            <button type="button" class="btn btn-danger btn-delete" data-bs-toggle="modal"
                                    data-bs-target="#DeleteModal" uid={{ obj.id }}>
                                DELETE
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {{ page_str }}

            <li style="float:right; width:300px">
                <form action="" method="get">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" aria-describedby="basic-addon1" name="page">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Jump</button>

                    </div>
                </form>
            </li>
        </ul>
        </form>
        </div>

    </nav>

    <!-- DeleteModal -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="alert alert-danger" role="alert" style="margin-bottom: 0">
                    <h4 class="alert-heading">Are you sure delete？</h4>
                    <p>All associated data disappears after deletion！</p>
                    <hr>
                    <div style="text-align: right">

                        <button id=DeleteConfirm type="button" class="btn btn-danger" id="DeleteConfirm">Delete</button>
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            btnDelete();
            btnDeleteConfirm();
        })

        function btnDelete() {
            $('.btn-delete').click(function () {
                Delete_ID = $(this).attr("uid");
            })
        }

        function btnDeleteConfirm() {
            $("#DeleteConfirm").click(function () {

                    $.ajax({
                        url: "/number/" + Delete_ID + "/delete/",
                        type: 'GET',
                        dataType: 'JSON',
                        success: function (res) {
                            if (res.status) {
                                alert("Delete successfully");
                                location.reload();
                            } else {
                                alert(res.error)
                            }
                        }
                    })
                }
            )
        }

    </script>
{% endblock %}